/* Estilo para el cuerpo de la página */
.body {
  background-image: url('../../../assest/43e78957ab636946acf0498862b67c11.jpg');
  background-size: cover;
  height: 100vh;
}

/* Estilo para el contenedor de Pokémon 1 */
.poke1Container {
  position: absolute;
  top: 25px;
  right: 10px;
  animation: move1 0.5s ease-in;
}

/* Estilo para el contenedor de Pokémon 2 */
.poke2Container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  animation: move2 0.5s ease-in;
}

/* Estilo para la barra de vida */
.lifeBar {
  width: 100px;
  height: 20px;
  background-color: gray;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
}

.lifeProgress {
  height: 100%;
  background-color: green;
  border-radius: 10px;
  transition: width 0.3s ease;
}

/* Estilo para el contenedor de ganador */
.ganadorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 0, 0.2);
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilo para la imagen del ganador */
.ganadorImage {
  border: 5px solid #00FF00;
  border-radius: 50%;
  box-shadow: 0 0 20px #00FF00;
}

/* Estilo para la animación de ataque */
.attackAnimation {
  animation: attack 0.5s vertical;
}

@keyframes attack {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px); /* Ajusta la cantidad de desplazamiento vertical según tus necesidades */
  }
}

@keyframes move1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, 50px);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, -50px);
  }
}

/* Estilo para la animación de explosión */
.explosion {
  font-size: 2em; /* Tamaño del emoji */
  animation: explosion 1s ease-in;
  position: absolute;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: explosion 2s ease-in forwards;
}

@keyframes explosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    
   
opacity: 0;
  }
}

