/* combate.module.css */

.poke1Container {
    position: absolute;
    top: 25px; /* Cambié 0,5 a 0.5 para que sea una coma decimal válida */
    right: 10px;
  }
  
  .poke2Container {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  /* Agregamos estilos para la barra de vida */
  .life-bar {
    width: 100px;
    height: 20px;
    background-image: url('../../../assest/1_3272.webp');
    background-size: cover;
    position: relative;
    margin-top: 10px;
  }

  .life-progress {
    height: 100%;
    background-color: green;
    transition: width 0.3s ease;
  }

