.boton {
    margin-right: 5px;
    background-color: rgb(34, 34, 36);
    border: 1px solid #fa0202;
    border-radius: 5px;
    color: #ffffff;
}

.label{
    background-color: rgb(34, 34, 36);
    border: 1px solid #fa0202;
    border-radius: 5px;
    color: #ffffff;
}