.card{
    background-color: rgb(1, 248, 13);
    width: 200px;
    height: 350px;
    border-radius: 20px;
    color: white;
}

.img{
    display: inline-table;
     height: 150px;
     width: 150px;
 }

.boton{
    background-color: #ff4500;
    color: white;
    border-radius: 5px;
}