.card{
    /* background-color: rgb(1, 248, 13); */
    background-image: url('../../../assest/1_3272.webp');
    width: 200px;
    height: 300px;
    border-radius: 20px;
    color: white;
}

.img{
    display: inline-table;
     height: 150px;
     width: 150px;
 }